<footer class="site-footer">
    <div class="wrap">
        <div>© {{ site.time | date: '%Y' }} {{ site.title }} · {{ site.author }}</div>
        <div>
            <a href="{{ site.baseurl }}/contact/">Contact</a>
            · <a href="https://github.com/{{ site.github_username }}">GitHub</a>
            · <a href="https://x.com/{{ site.twitter_username }}">X</a>
        </div>
    </div>
</footer>
<script src="{{ site.baseurl }}/js/site.js"></script>
<script src="{{ site.baseurl }}/js/chat.js"></script>
