<nav class="site-nav">
    <div class="wrap">
        <a class="brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/img/avatar-anime.jpg" alt="{{ site.author }}">
            <span>{{ site.author }}</span>
        </a>
        <button class="nav-toggle" type="button" aria-label="Menu">Menu</button>
        <ul class="nav-links">
            <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="is-active"{% endif %}>Home</a></li>
            <li><a href="{{ site.baseurl }}/about/" {% if page.url == "/about/" %}class="is-active"{% endif %}>About</a></li>
            <li><a href="{{ site.baseurl }}/reports/" {% if page.url contains "/reports" %}class="is-active"{% endif %}>Reports</a></li>
            <li><a href="{{ site.baseurl }}/tags/" {% if page.url == "/tags/" %}class="is-active"{% endif %}>Notes</a></li>
            <li><a href="{{ site.baseurl }}/contact/" {% if page.url == "/contact/" %}class="is-active"{% endif %}>Contact</a></li>
            <li><a href="#" data-open-chat>Chat</a></li>
        </ul>
    </div>
</nav>
