---
layout: default
---
<article>
    <header class="post-hero">
        <div class="wrap">
            {% if page.tags %}
            <div class="tags">
                {% for tag in page.tags %}
                <a class="tag" href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}<p class="sub">{{ page.subtitle }}</p>{% endif %}
            <p class="meta">{{ page.date | date: "%B %-d, %Y" }} · {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</p>
        </div>
    </header>
    <div class="wrap">
        <div class="prose post-container">
            {{ content }}
        </div>
        {% if site.gitalk.enable %}
        <div id="gitalk-container" class="prose"></div>
        <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
        <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
        <script src="{{ site.baseurl }}/js/md5.min.js"></script>
        <script>
            new Gitalk({
                clientID: '{{site.gitalk.clientID}}',
                clientSecret: '{{site.gitalk.clientSecret}}',
                repo: '{{site.gitalk.repo}}',
                owner: '{{site.gitalk.owner}}',
                admin: ['{{site.gitalk.admin}}'],
                distractionFreeMode: {{site.gitalk.distractionFreeMode}},
                id: md5(location.pathname)
            }).render('gitalk-container');
        </script>
        {% endif %}
    </div>
</article>
